<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>You Asked Us Anything</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>You asked us: <%= question %></h1>

    <p>We answered: <%= answer %></p>
  </body>
</html>
