<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express Homepage</title>
  </head>
  <body>
    <h1>Random Marx Brother coming soon</h1>

    <p><%= brother %></p>

    <p>Your lucky number is: <%= lucky %></p>
  </body>
</html>
