<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stock Price Look Up</title>
  <link rel="stylesheet" href="/css/wallstreet.css">
</head>
<body>

  <div class="container">
    <nav>
      <a href="/">Home</a>
    </nav>

    <h1>Stock Prices</h1>

    <%= yield %>
  </div>

</body>
</html>
