<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>

    <form action="/info">
      <label>
        Stock symbol:
        <input type="search" name="symbol" placeholder="AAPL" required>
      </label>
      <button>Search</button>
    </form>
  </body>
</html>
