<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>

    <h2>
      <%= symbol %> last traded at $<%= price %>.
    </h2>

  </body>
</html>
