<h1>Asset Helpers</h1>
<!-- <img src="http://www.fillmurray.com/500/750" alt="Bill" class="feature">
<img src="/assets/funny.jpg" alt="Kids smoking"> -->

<%= image_tag "http://www.fillmurray.com/500/750", :alt => 'Bill', :class => 'feature' %>
<%= image_tag 'funny.jpg' %>

<p>There are also asset helpers for: <code>video_tag, audio_tag</code></p>
