<h2>New Butterfly</h2>

<form action="/butterflies" method="post">
  <label>
    Name:
    <input name="name" placeholder="Gaudy Commodore" required>
  </label>

  <label>
    Family:
    <input name="family" placeholder="Nymphalidae">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <label>
    Larval plant:
    <select name="plant_id">
      <option></option>
      <% Plant.all.each do |plant| %>
        <option value="<%= plant.id %>"><%= plant.name %></option>
      <% end %>
    </select>
  </label>

  <button>Create butterfly</button>
</form>
