<h2>New Plant</h2>

<form action="/plants" method="post">
  <label>
    Name:
    <input name="name" placeholder="Milkweed" required>
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create plant</button>
</form>
