/* Easy CSS debugging */
/* * { border: 1px solid limegreen; } */

@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

body {
  background-color: #222; /* #123 => #112233; */
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
}

.container {
  max-width: 960px; /* Lazy responsive container */
  background-color: #ccc;
  margin: 0 auto;
  padding: 1em; /* Chunky pixels */
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

nav {
  text-align: right;
}

nav a {
  color: green;
}

h1 {
  text-align: center;
  background-color: #222;
  color: #ccc;
  font-size: 400%;
  padding: 0.5em;
  text-transform: uppercase; /* Accessible ALL CAPS */
}

main {
  display: inline-block;
  width: 75%;
}

aside {
  display: inline-block;
  width: 21%; /* 75% + 21% = 100% in CSS (approximately) */
  vertical-align: top;
  background-color: #cfc;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px black; /* POP */
}

aside ul {
  padding-left: 17px;
}

main img {
  margin: 0 auto;
  display: block; /* Can't set margin: auto on display inline (the default for image) */
}
