<h1>Search for a book cover</h1>

<form action="/books/result">
  <label>
    Book title:
    <input type="search" name="book_title" placeholder="Jaws">
  </label>
  <p>
    <button>Search</button>
  </p>
</form>
