<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSS Layout Example</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </nav>
      <h1>Title</h1>
    </header>

    <main>
      <h2>Content goes here</h2>
      <img src="http://www.fillmurray.com/400/600" alt="Bill Murray's beautiful aged head">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut officia reprehenderit porro iste aspernatur, accusantium officiis inventore molestias doloribus maiores ratione ea magni quae provident tenetur, ipsa vero repellendus placeat.</p>
      <p>Saepe, distinctio, quae. Quis, et, non! Omnis aspernatur reiciendis voluptatum nobis laudantium minima unde, nisi doloremque totam, earum quos esse magni voluptatibus fugit voluptas. Impedit doloribus perspiciatis nobis sint veniam!</p>
      <p>Hic, magni, reprehenderit! Nemo consectetur dignissimos, cumque sunt nulla magnam accusamus quam harum nostrum minima reprehenderit perferendis. Cumque ducimus dicta aspernatur odio, reiciendis repellat quaerat inventore quas voluptatum laborum. Consequuntur!</p>
    </main>

    <aside>
      <h3>Fun Facts</h3>
      <ul>
        <li>Groucho</li>
        <li>Harpo</li>
        <li>Chico</li>
        <li>Gummo</li>
      </ul>
    </aside>
  </div>

</body>
</html>
