<div class="row">
  <div class="col-md-4 offset-md-4">
    <h2>All The News That's Fit To Print</h2>
  </div>
</div>


<div class="row">
  <div class="col-md-3">
    <h2>Some terrible story about COVID</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit perspiciatis magnam quo. Eos hic libero doloribus quis nam ullam provident beatae, a enim, omnis, dolore sequi qui ut deleniti tempora!</p>
  </div>
  <div class="col-md-6">
    <h1>Prince Phillip Finally Buried, 3 Years After His Death</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi possimus, non quam, eligendi nisi vel rem neque voluptates sequi, facilis sed hic. Fuga animi nam similique unde debitis sapiente cumque!</p>
  </div>
  <div class="col-md-3">
    <h2>GA Campus Welcomes Back Students</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cum iusto nisi enim velit explicabo, ab odio totam, dolorem nesciunt natus veritatis praesentium expedita et quae nostrum mollitia reiciendis ipsa.</p>
  </div>
</div>
