
  <form action="/result">
    <label>
      First number:
      <input type="number" name="x" placeholder="23" required>
    </label>

    <label>
      Operator:
      <input name="operator" placeholder="+ or - or * or /" required>
    </label>

    <label>
      Second number:
      <input type="number" name="y" placeholder="73" required>
    </label>

    <button>Calculate</button>
  </form>
