<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
  <link rel="stylesheet" href="/css/calculator.css">
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/faq">FAQ</a>
  </nav>

  <h1>Welcome to the calculator</h1>

  <!-- content goes here -->
  <%= yield %>
  <!-- content end -->

  <footer>
    &copy; Copyright The Blade 2021
  </footer>

</body>
</html>
