/*
Typically we set the box model to the new sizing rules once and for all, for every element on the page: * (wildcard selector):

* {
  box-sizing: border-box;
}

*/

body {
  background-color: lemonchiffon;
}

.old {
  width: 300px;
  height: 300px;
  border: 3px solid black;
}

.new {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border: 3px solid black;
}
