<h2>New Butterfly</h2>

<form>
  <label>
    Name:
    <input name="name" placeholder="Gaudy Commodore" required>
  </label>

  <label>
    Family:
    <input name="family" placeholder="Nymphalidae">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create butterfly</button>
</form>
