<h2>Search for a stock symbol</h2>

<form action="/stocks/result">
  <label>
    Stock symbol:
    <input name="symbol" placeholder="AAPL">
  </label>

  <p>
    <button>Search</button>
  </p>
</form>
